!!! 5
%html

 %head
  %title Jammin' Online
  %meta(charset="utf-8")
  %link(type="text/css" rel="stylesheet" href="css/style.css")
  %link(type="text/css" rel="stylesheet" href="css/bootstrap.css")

 %body
  #wrapper

 %script(type="text/javascript" src="js/lib/jquery.js")
 %script(type="text/javascript" src="js/lib/bootstrap.js")
 %script(type="text/javascript" src="js/jammin.js")
