!!! 5
%html

 %head
  %title Jammin' Online
  %meta(charset="utf-8")
  %link(type="text/css" rel="stylesheet" href="style/lib/bootstrap.css")
  %link(type="text/css" rel="stylesheet" href="style/jammin.css")

 %body
  #wrapper

 %script(type="text/javascript" src="js/lib/jquery.js")
 %script(type="text/javascript" src="js/lib/bootstrap.min.js")
 %script(type="text/javascript" src="js/lib/handlebars.js")
 %script(type="text/javascript" src="js/jammin.js")